In [72]:
import pandas as pd

In [78]:
#import data
indeks_ = pd.read_csv('indeks_kesehatan.csv')
keluhan_ = pd.read_csv('keluhan_kesehatan.csv')
ibu_ = pd.read_csv('ibu_hamil.csv')
bayi_ = pd.read_csv('bayi_bergizi_buruk.csv')

In [79]:
#copy data
data1 = indeks_.copy()
data2 = keluhan_.copy()
data3 = ibu_.copy()
data4 = bayi_.copy()

In [13]:
data1

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,indeks_kesehatan,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,77.43,POIN,2010
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,76.10,POIN,2010
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,75.02,POIN,2010
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,81.44,POIN,2010
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,77.44,POIN,2010
...,...,...,...,...,...,...,...,...
318,319,32,JAWA BARAT,3274,KOTA CIREBON,80.68,POIN,2021
319,320,32,JAWA BARAT,3275,KOTA BEKASI,84.91,POIN,2021
320,321,32,JAWA BARAT,3276,KOTA DEPOK,84.03,POIN,2021
321,322,32,JAWA BARAT,3277,KOTA CIMAHI,83.40,POIN,2021
322,323,32,JAWA BARAT,3278,KOTA TASIKMALAYA,80.52,POIN,2021

In [80]:
#drop column
data1 = data1.drop(['id','kode_provinsi', 'satuan'], axis=1)
data2 =data2.drop(['id', 'kode_provinsi', 'satuan'], axis=1)
data3 =data3.drop(['id', 'kode_provinsi', 'satuan'], axis=1)
data4 =data4.drop(['id', 'kode_provinsi', 'satuan'], axis=1)

#merge
df = data1.merge(data2, on=('kode_kabupaten_kota', 'nama_provinsi', 'nama_kabupaten_kota', 'tahun'), how='outer')
df = df.merge(data3, on=('kode_kabupaten_kota', 'nama_provinsi', 'nama_kabupaten_kota', 'tahun'), how='outer')
df = df.merge(data4, on=('kode_kabupaten_kota', 'nama_provinsi', 'nama_kabupaten_kota', 'tahun'), how='outer')

In [81]:
df

,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,indeks_kesehatan,tahun,persentase_penduduk,jumlah_ibu_hamil,jumlah_bayi
0,JAWA BARAT,3201,KABUPATEN BOGOR,77.43,2010,NaN,NaN,NaN
1,JAWA BARAT,3202,KABUPATEN SUKABUMI,76.10,2010,NaN,NaN,NaN
2,JAWA BARAT,3203,KABUPATEN CIANJUR,75.02,2010,NaN,NaN,NaN
3,JAWA BARAT,3204,KABUPATEN BANDUNG,81.44,2010,NaN,NaN,NaN
4,JAWA BARAT,3205,KABUPATEN GARUT,77.44,2010,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
319,JAWA BARAT,3275,KOTA BEKASI,84.91,2021,25.46,NaN,NaN
320,JAWA BARAT,3276,KOTA DEPOK,84.03,2021,15.49,NaN,NaN
321,JAWA BARAT,3277,KOTA CIMAHI,83.40,2021,16.23,NaN,NaN
322,JAWA BARAT,3278,KOTA TASIKMALAYA,80.52,2021,18.37,NaN,NaN
323,JAWA BARAT,3279,KOTA BANJAR,NaN,2021,13.71,NaN,NaN

In [83]:
#ubah kolomn
df = df[['tahun', 'nama_provinsi', 'kode_kabupaten_kota', 'nama_kabupaten_kota', 'indeks_kesehatan', 'persentase_penduduk', 'jumlah_ibu_hamil', 'jumlah_bayi']]

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 324 entries, 0 to 323
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tahun                324 non-null    int64
 1   nama_provinsi        324 non-null    object
 2   kode_kabupaten_kota  324 non-null    int64
 3   nama_kabupaten_kota  324 non-null    object
 4   indeks_kesehatan     323 non-null    float64
 5   persentase_penduduk  189 non-null    float64
 6   jumlah_ibu_hamil     135 non-null    float64
 7   jumlah_bayi          81 non-null     float64
dtypes: float64(4), int64(2), object(2)
memory usage: 22.8+ KB

In [85]:
df

,tahun,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,indeks_kesehatan,persentase_penduduk,jumlah_ibu_hamil,jumlah_bayi
0,2010,JAWA BARAT,3201,KABUPATEN BOGOR,77.43,NaN,NaN,NaN
1,2010,JAWA BARAT,3202,KABUPATEN SUKABUMI,76.10,NaN,NaN,NaN
2,2010,JAWA BARAT,3203,KABUPATEN CIANJUR,75.02,NaN,NaN,NaN
3,2010,JAWA BARAT,3204,KABUPATEN BANDUNG,81.44,NaN,NaN,NaN
4,2010,JAWA BARAT,3205,KABUPATEN GARUT,77.44,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
319,2021,JAWA BARAT,3275,KOTA BEKASI,84.91,25.46,NaN,NaN
320,2021,JAWA BARAT,3276,KOTA DEPOK,84.03,15.49,NaN,NaN
321,2021,JAWA BARAT,3277,KOTA CIMAHI,83.40,16.23,NaN,NaN
322,2021,JAWA BARAT,3278,KOTA TASIKMALAYA,80.52,18.37,NaN,NaN
323,2021,JAWA BARAT,3279,KOTA BANJAR,NaN,13.71,NaN,NaN

In [86]:
# hapus tahun

df1 = df.copy()

clean_tahun = [2010, 2011, 2012, 2013, 2014, 2015, 2019, 2020, 2021]
df1 = df1[df1.tahun.isin(clean_tahun) == False]

In [87]:
df1['tahun'].unique()

array([2016, 2017, 2018])

In [88]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81 entries, 162 to 242
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tahun                81 non-null     int64
 1   nama_provinsi        81 non-null     object
 2   kode_kabupaten_kota  81 non-null     int64
 3   nama_kabupaten_kota  81 non-null     object
 4   indeks_kesehatan     81 non-null     float64
 5   persentase_penduduk  81 non-null     float64
 6   jumlah_ibu_hamil     81 non-null     float64
 7   jumlah_bayi          81 non-null     float64
dtypes: float64(4), int64(2), object(2)
memory usage: 5.7+ KB

In [89]:
df1.isna().sum()

tahun                  0
nama_provinsi          0
kode_kabupaten_kota    0
nama_kabupaten_kota    0
indeks_kesehatan       0
persentase_penduduk    0
jumlah_ibu_hamil       0
jumlah_bayi            0
dtype: int64

In [90]:
df1.to_csv('jabar_sehat.csv')

In [91]:
data = pd.read_csv('jabar_sehat.csv')

In [92]:
data

,Unnamed: 0,tahun,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,indeks_kesehatan,persentase_penduduk,jumlah_ibu_hamil,jumlah_bayi
0,162,2016,JAWA BARAT,3201,KABUPATEN BOGOR,77.92,30.28,126474.0,98.0
1,163,2016,JAWA BARAT,3202,KABUPATEN SUKABUMI,77.14,27.57,51056.0,186.0
2,164,2016,JAWA BARAT,3203,KABUPATEN CIANJUR,75.98,27.75,46284.0,323.0
3,165,2016,JAWA BARAT,3204,KABUPATEN BANDUNG,81.69,25.73,79912.0,66.0
4,166,2016,JAWA BARAT,3205,KABUPATEN GARUT,78.09,29.14,62514.0,143.0
...,...,...,...,...,...,...,...,...,...
76,238,2018,JAWA BARAT,3275,KOTA BEKASI,84.25,26.89,56551.0,209.0
77,239,2018,JAWA BARAT,3276,KOTA DEPOK,83.34,27.33,47550.0,76.0
78,240,2018,JAWA BARAT,3277,KOTA CIMAHI,82.69,30.82,11713.0,31.0
79,241,2018,JAWA BARAT,3278,KOTA TASIKMALAYA,79.54,32.43,13265.0,0.0
80,242,2018,JAWA BARAT,3279,KOTA BANJAR,77.83,38.60,3238.0,0.0